<!DOCTYPE html>
<html>
<head dir="rtl">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/CSS/gl-Style.css" rel="stylesheet" />
    <link href="~/Content/CSS/SliderStyle.css" rel="stylesheet" />
    <link href="~/Content/CSS/Animated.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <style>
        .tblItems td {
            border: 1px solid #000000;
            text-align: center;
            height: 40px;
        }

        .tblItems tr:first-child {
            background-color: antiquewhite;
        }

        #progress-wrp {
            border: 1px solid #0099CC;
            padding: 1px;
            position: relative;
            height: 30px;
            border-radius: 3px;
            margin: 10px;
            text-align: left;
            background: #fff;
            box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
        }

            #progress-wrp .progress-bar {
                height: 100%;
                border-radius: 3px;
                background-color: #f39ac7;
                width: 0;
                box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
            }

            #progress-wrp .status {
                top: 3px;
                left: 50%;
                position: absolute;
                display: inline-block;
                color: #000000;
            }

        .delItem {
            top: -80px;
            right: 5px;
            max-width: 30px;
            max-height: 30px;
            background-image: url(../../img/del.png);
            background-size: cover;
            cursor: pointer;
        }

        .tblSlider {
            width: 100%;
            margin-bottom: 20px;
        }

            .tblSlider tr:first-child td {
                height: 50px;
                text-align: center;
                background: linear-gradient(#6d6897,#0099CC,#7f2020);
                color: #ffffff;
                border-radius: 30px;
                font-size: large;
            }

            .tblSlider tr:last-child td {
                padding-top: 40px;
            }

        .smalItems {
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: 30px;
        }

            .smalItems p {
                padding: 10px;
                text-align: center;
                background: linear-gradient(#6d6897,#0099CC,#7f2020);
                color: #ffffff;
                border-radius: 30px;
                font-size: large;
            }

            .smalItems div div {
                display: inline-block;
                margin: 8px 8px 8px 8px;
                width: 150px;
                height: 150px;
            }

            .smalItems img {
                width: 150px;
                height: 150px;
                cursor: pointer;
                object-fit: cover;
            }
    </style>
    <script>
        var serverUrl = window.location.origin;
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Html.ActionLink("UserList", "ListUser", "Home", new { area = "" }, new { @class = "navbar-brand" })
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;@Html.ActionLink("AllPhotos", "AllPhotos", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $(function () {
            new WOW().init();
        });
    </script>
    @RenderSection("Script",false)
    <script src="~/Content/js/setScrollLib.js"></script>
</body>
</html>